<?xml version='1.0' encoding='utf-8'?>
<widget id="com.myvpn.app" version="0.4.4" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>MyVPN</name>
    <description>MyVPN - VPN for myself</description>
    <icon src="www/512x512.png" platform="android" width="57" height="57" density="mdpi" />
    <author email="support@myvpn.run" href="https://myvpn.run">
        MyVPN
    </author>
    <!-- this hook will point your config.xml to the DevServer on Serve -->
    <hook type="after_prepare" src="../node_modules/vue-cli-plugin-cordova/serve-config-hook.js" />
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <platform name="android">
      <icon background="www/512x512.png" density="ldpi" />
      <icon background="www/512x512.png" density="mdpi" />
      <icon background="www/512x512.png" density="hdpi" />
      <icon background="www/512x512.png" density="xhdpi" />
      <icon background="www/512x512.png" density="xxhdpi" />
      <icon background="www/512x512.png" density="xxxhdpi" />
    </platform>
</widget>
