@import "scroll.scss";
@import "fonts.scss";

.app-page {
    -webkit-user-select: none;
    padding: 20px;
    padding-top: 40px;
}
.el-aside {
    height: 100vh;
}
.el-steps {
    -webkit-user-select: none;
    cursor: default;
}
.el-collapse {
    border: none !important;
}
.selectable {
    -webkit-user-select: initial;
}
.cell, h3, .el-alert__content {
    cursor: default;
}
.m-top {
    margin-top: 15px;
}
h3 {
    font-weight: bold;
}
.action-journal textarea {
    resize: none;
    background: #F5F7FA;
    color: #6a6a6a;
    border: none;
    border-radius: 0;
    height: 150px;
    padding: 5px;
}
.text-center {
    text-align: center;
}
.logo__image {
    height: 80px;
}
.text-warning {
    color: #dd7b00;
}
.app-version {
    position: absolute;
    bottom: 15px;
    font-size: 10px;
    right: 20px;
    color: #575757;
    user-select: none;
    font-weight: 100;
}
