/* radio */
.el-radio {
  color: #c1c1c1;
}
.el-radio__inner {
  background-color: transparent;
  border-color: #ff9254;
  color: #fff;
  &:hover {
    border-color: #d4682c;
  }
}
.el-radio.is-bordered {
  border-color: #686868;
}
.el-radio.is-bordered.is-checked {
  border-color: #ff9254;
}
.el-radio__input.is-checked+.el-radio__label {
  color: #ff9254;
}
.el-radio__input.is-checked .el-radio__inner {
  border-color: #ff9254;
  background: #ff9254;
}
.el-input.is-disabled .el-input__inner {
  background-color: #444444;
}
.el-input__inner,
.el-textarea__inner {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  border: 0;
  outline: 0;
  color: #dcdcdc;
  background-color: #343434;
  &:active, &:focus {
    background-color: #444444;
  }
}
.el-input-number__decrease,
.el-input-number__increase {
  background-color: #343434;
}
.el-input-number.is-controls-right .el-input-number__increase,
.el-input-number.is-controls-right .el-input-number__decrease {
  border-color: #4c4c4c;;
}
.el-input-number__decrease:hover,
.el-input-number__increase:hover {
  color: #d4682c;
}
.el-scrollbar__wrap {
  overflow-x: hidden;
}
.el-select {
  @include mqMAX($XXS) {
    width: 100%;
  }
}
.el-select-dropdown {
  background-color: #343434;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  border: 0;
}
.el-select-dropdown__item.hover, .el-select-dropdown__item:hover {
  background-color: #444444;
}
.el-popper[x-placement^=bottom] .popper__arrow {
  border-bottom-color: #343434;
}
.el-popper[x-placement^=bottom] .popper__arrow::after {
  border-bottom-color: #343434;
}

.el-select-dropdown__item.selected,
.el-checkbox__input.is-checked+.el-checkbox__label {
  font-weight: 500;
  color: #d4682c;
}
.el-checkbox__input.is-focus .el-checkbox__inner {
  border-color: #d4682c;
}
.el-form-item__label,
.el-checkbox,
.el-select-dropdown__item
{
  color: #c1c1c1;
  font-family: 'Roboto Mono';
}
.el-checkbox {
  &__inner {
    border-color: #6e6e6e;
    background-color: #363636;
    &:hover {
      border-color: #d4682c;
    }
  }
}
.el-form-item__label {
  @include mqMAX($XS) {
    text-align: left;
  }
}
.el-checkbox__input.is-checked .el-checkbox__inner,
.el-checkbox__input.is-indeterminate .el-checkbox__inner {
  border-color: #e25103;
  background-color: #d4682c;
}
.el-input-number__decrease {
  border-right: 1px solid #272727;
}
.el-input-number__increase {
  border-left: 1px solid #272727;
}